/* GENERALE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
/* GENERALE */


/* HEADER */
header{
  height: 70px;
  background: #141414;
  color: #fff;
}

header .logo,
header .menu{
  height: 70px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .actions{
  height: 70px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img{
  height: 60px;
}

header .menu li,
header .actions li{
  display: inline-block;
  margin: 0 10px;
}


/* HEADER */


/* CORPO PRINCIPALE */
.wrapper{
  background: #bdc3c7;
}
.wrapper .row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.wrapper .row::before{
  font-family: "FontAwesome";
  content: "\f053";
  font-weight: 900;
  display: block;
  position: absolute;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
}
.wrapper .row::after{
  font-family: "FontAwesome";
  content: "\f054";
  font-weight: 900;
  display: block;
  position: absolute;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
.wrapper .row .card{
  min-width: 100px;
  min-height: 200px;
  background: #2ecc71;
  color: #fff;
  border-radius: 10px;
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.wrapper .row .card img{
  width: 90px;
}
.wrapper .row .card .text{
  width: 100%;
}












/* CORPO PRINCIPALE */
